<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Kalimba dashboard - <%= isAdmin ? "admin" : "public" %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- materializecss css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- materializecss js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function download(content, fileName, contentType) {
        const a = document.createElement("a");
        const file = new Blob([content], { type: contentType });
		a.href = URL.createObjectURL(file);
        a.download = fileName;
		a.click();
    }
    function dumpDB() {
        let paramsString = new URL(document.location.toString()).searchParams;
        let searchParams = new URLSearchParams(paramsString);
        let password = searchParams.get("pw") ?? "";

        let url = "dump-db?pw=" + password;

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                download(xmlHttp.responseText, "dump.json", "text/json");
            } else {
                console.error("Failed to dump DB");
            }
        }
        xmlHttp.open("GET", url, true); // true for asynchronous
        xmlHttp.send(null);
    }
</script>

<body>
    <p>
        Date et heure: <%= new Date().toString() %>
    </p>
    <p>
        Mémoire utilisée:
    <table>
        <tr>
            <th>type</th>
            <th>value</th>
        </tr>
        <tr>
            <th>rss</th>
            <th>
                <%= process.memoryUsage().rss / 1024 / 1024 %> MB
            </th>
        </tr>
        <tr>
            <th>heap total</th>
            <th>
                <%= process.memoryUsage().heapTotal / 1024 / 1024 %> MB
            </th>
        </tr>
        <tr>
            <th>heap used</th>
            <th>
                <%= process.memoryUsage().heapUsed / 1024 / 1024 %> MB
            </th>
        </tr>
    </table>
    </p>
    <p>
        Niveau d'authentification du dashboard: <%= isAdmin ? "admin" : "public" %>
    </p>
    <div style="width: 50%; float: left;">
        <%- include("user-graph", {userMap: userMap}); %>
    </div>
    <div style="width: 50%; float: right;">
        <%- include("constitution-graph", {cstMap: cstMap}); %>
    </div>
    <br style="clear: both;">
    <% if (isAdmin) { %>
        <div style="width: 50%; float: left;">
            <%- include("online-users", {clients: clients, userMap: userMap}); %>
        </div>
        <div style="width: 50%; float: right;">
            <%- include("telemetry-data", {telemetry: telemetry, userMap: userMap}); %>
        </div>
        <br>
        <button onclick="dumpDB()">Dump Database</button>
        <% } else { %>
            Pour voir les informations administrateurs, entrez le mot de passe:
            <input type="password" id="password" />
            <button
                onclick="window.location.href = window.location.pathname + '?pw=' + document.getElementById('password').value;">Valider</button>
            <% } %>
</body>
